<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sampleDatePicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B77F7431C59E72C0008BB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B77F7571C59E72C0008BB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B77F7621C59E72C0008BB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
